/*make the editor transparent so we can see the background, the camera*/
#editor-container .CodeMirror {
    background: transparent;
    transition: background-color 0.3s ease;
    color: #cccccc;
    font-size: 18px;
    height: 100%;
    width: 100%;
    padding: 15px;
}